<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MemoramaLis_Cliente.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IAutentificacionServicio">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioChat">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioPartida">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioRegistro">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8090/ServicioChat/ServicioChat"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServicioChat"
                contract="ServicioChat.IServicioChat" name="NetTcpBinding_IServicioChat">
                <identity>
                    <userPrincipalName value="DESKTOP-54H68P7\obeth" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/AutentificacionServicio/AutentificacionServicio"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAutentificacionServicio"
                contract="AutentificacionServicio.IAutentificacionServicio"
                name="NetTcpBinding_IAutentificacionServicio">
                <identity>
                    <userPrincipalName value="DESKTOP-54H68P7\obeth" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/ServicioRegistro/ServicioRegistro"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServicioRegistro"
                contract="ServicioRegistro.IServicioRegistro" name="NetTcpBinding_IServicioRegistro">
                <identity>
                    <userPrincipalName value="DESKTOP-54H68P7\obeth" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/ServicioPartida/ServicioPartida"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServicioPartida"
                contract="ServicioPartida.IServicioPartida" name="NetTcpBinding_IServicioPartida">
                <identity>
                    <userPrincipalName value="DESKTOP-54H68P7\obeth" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
    <userSettings>
        <MemoramaLis_Cliente.Properties.Settings>
            <setting name="FotoDePerfil" serializeAs="String">
                <value>/Imagenes/1-Microsoft.Png</value>
            </setting>
        </MemoramaLis_Cliente.Properties.Settings>
    </userSettings>
</configuration>